body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.type {
  font-family: 'Arial Black', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 1.25;
}

#display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#debug {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 25%;
}
  #debug:hover {
    opacity: 1;
  }

.direction {
  position: absolute;
  z-index: -1;
  transition: opacity 0.5s;
  opacity: 0;
}

#north {
  background-color: black;
  top: 0;
  right: 0;
  left: 0;
  height: 25%;
}

#south {
  background-color: white;
  bottom: 0;
  right: 0;
  left: 0;
  height: 25%;
}

#east {
  background-color: yellow;
  top: 25%;
  right: 0;
  height: 50%;
  width: 50%;
}

#west {
  background-color: blue;
  top: 25%;
  left: 0;
  height: 50%;
  width: 50%;
}

#initializer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}